*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Geneva, sans-serif;
}
body{
  height: 100vh;
  margin: 0;
  background: url("../imagenes/diente2.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20% 30%;
}
header{
  width: 100%;
  height: 15%;
  background: rgba(0, 5, 8, 0.75);
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;


}
header a{
  color: rgb(249, 248, 247);
  text-decoration: none;
}
header a h1{
  color: rgba(21, 241, 247, 0.59);
  font-size: 3em;
  font-style: italic;
  margin-top: 3%;
  margin-left: 0;
  letter-spacing: 5px;
  text-align: center;

}
.navegador{
  width: 100%;
  height: 100%;
}

.menu>li{
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  }

.navegador ul li {
  display: inline-block;
  margin-left: 15%;
  margin-top: 2%;
  color: rgb(17, 17, 19);

}
.botoninicio{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  text-decoration: none;

}
.menu > li > a{
  font-size: 2em;
}

.navegador ul li a:hover{
  background: rgba(21, 241, 247, 0.59);
  color: rgba(0, 0, 0, 0.85);
}

.navegador ul{
  list-style: none;

}


.submenu{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.4s;

  margin-right: 10%;
}
.submenu li {
  width: 100%;
  height: 100%;
}
.submenu li a{
  display: block;
  padding: 10% 12%;
  transition: all 0.4s linear;
  border-radius: 5px;
  background: rgba(205, 208, 209, 0.64);
  font-size: 1.5em;
  border-radius: 5px;
  color: rgb(4, 1, 9);
  width: 100%;
}
.menu_opc{
  display: none;
  height: 100%;
  width: 100%;
}
.menu_visible{
  display: flex;
  height: 100%;
  width: 100%;
}
.boton3{
  margin-top: 10%;
}

.botonLi:hover .boton1 {

  display: flex;
}

.fondo1{
  height: 100%;
  width: 100%;
  background-image: url("../imagenes/dental2.jpg");
  background-size: 100% 100%;
  background-position: center;
  /* display: flex; */
}
.fondo1:hover{

}
#cita{
  position: relative;
  margin-left: 20%;
}
.boton1{
  /* display: none; */
  height: 35%;
  width: 25%;
  border: 5px solid rgb(0, 8, 7);
  border-radius: 20px;
  margin: 15% 5%;

}
.boton1:hover{
  background-color: rgba(21, 241, 247, 0.59);
  transition: all 1s linear;

}
.boton1>h2{
  margin-left:5% ;
}
.boton_cita{
  width: 60%;
  height: 70%;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin:auto;
}
.boton_cita2{
  width: 15%;
  height: 20%;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin:auto;
  margin-right: 24%;
  margin-top: 19%;
}

footer{
  width: 100%;
  height: 10%;
  background: rgba(86, 196, 254, 0.57);
  align-items: center;
  text-align: center;
  margin: 0;
  position:absolute;
  bottom: 0%;
  color: rgb(250, 250, 250);
}

.imagen{
  width: 100%;
  height: 100%;
  background-image: url("../imagenes/dental.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#contenedor2{
  height: 90%;
  background-image: url("../imagenes/dental2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
video{
  position:sticky;

}
#imagen2{
  width: 100%;
  height: 100%;
}
.imagen15{
  height: 100%;
  width: 100%;
  background-image: url("../imagenes/dental2.jpg");
  background-size: 100% 100%;
  background-position: center;

}
.imagen123{
  height: 100%;
  width: 100%;
}
.direccion{
  display: flex;
  height: 60%;
  width: 60%;
  background:rgb(0, 0, 0);
  opacity: 0.8;
  border-radius: 20px;
  color:rgb(251, 249, 251);
  position: absolute;
  top: 15%;
  left: 5%;
}
.sub_dir{
  height: 95%;
  width: 45%;
  position: relative;
  margin: auto;
}
.mapa{
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;


}
#mapa{
  border: 8px solid rgba(21, 241, 247, 0.59);
  border-radius: 2%;
}
.sub_dir p{
  margin-top: 1%;
}
.frase{
  margin-top: 10%;
  margin-bottom: 1%;
}
